<div class="jumbotron wrapper" data-id="1" id="container">
	<div class="row">
		<h1 data-intro="This is your chance to directly influence the decisions made for your local community.  This is the first motion for you to vote on, check out the description below for more info" data-step="1" class="motion-title"><%=@motion.title%></h1>
	</div>

	<div class="row">
		<p class="motion-description"><%= @motion.description %></p>
	</div>

	<div class="row">
		<div class="voting-points" data-intro="You have 50 points to allocate across the motions. To vote, select a number on the slider. " data-step="2">
			<div data-role="main" class="ui-content">
			    <form method="post" action="demoform.asp">
			      <input type="range" name="points" id="points" value="5" min="0" max="10" data-show-value="true">
			    </form>
  			</div>
		</div>
	</div>

	<div class="row">
		<div class="motion-navigation" data-intro="Once you have voted on this motion, select the next motion to vote on" data-step="3">
			<ul class="pager">
			  <li class="pager-button"><%= link_to "Previous", motion_path(@motion.id - 1), class: 'pager-link'%></li>
			  <li class="pager-button"><%= link_to "Next", motion_path(@motion.id + 1), class: 'pager-link'%></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<p class="user-points-remaining"><%= current_constituent.points %> points remaining.</p>
	</div>

</div>
<script type="text/javascript">
	$(".pager-button").click(function() {
    var points = $('#points').val();
    var motionId = $(".jumbotron.wrapper").attr("data-id");
    $.post("http://localhost:3000/vote", {
      data: {
        "motion_id": motionId, 
        "points": points
      },
      success: function(res) {  
        console.log("Data", res);
        console.log("Success");
      },
      dataType: "json"
    });
  });
</script>