<!DOCTYPE html>
<html>
<head>
  <title>Voteonitall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron wrapper">

    <center>
      <%= image_tag "logo.png", class: "logo" %>
    </center>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
        <script>
          introJs().start();
        </script>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
  